.container {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  max-width: 620px;
}

.app {
  position: relative;
  width: 620px;
  border: 1px solid #100c34;
}
.main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 391px;

  &::-webkit-scrollbar {
    width: 3px;
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    height: 42px;
    background: #a3a3a3;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.trading {
  align-items: center;
}
.time {
  font-size: 40px;
  line-height: 1.25;
  font-family: Arial, Helvetica, sans-serif;
  color: #100c34;
  margin: 50px 0;
}

.button {
  padding: 10px 15px;
  box-sizing: border-box;
  width: 150px;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #100c34;
  border-right: 1px solid #100c34;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    background: #ff00a8;
    color: #fff;
  }

  &_open {
    background: #ff00a8;
    color: #fff;
  }
}

.rate {
  margin: 50px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &__item {
    &:first-child {
      color: green;
      margin-right: 50px;
    }

    &:last-child {
      color: red;
    }
  }

  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 1.25;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    margin: 0;
    font-size: 28px;
    line-height: 1.25;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav,
.archive {
  &__item {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  display: grid;
  grid-template-columns: 90px 110px 130px 100px 170px;
  border-bottom: 1px solid #100c34;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.archive {
  text-transform: uppercase;
}

.nav {
  padding-top: 25px;
}

.color {
  &_green {
    font-weight: 600;
    color: green;
  }
  &_red {
    font-weight: 600;
    color: red;
  }
}
